html, body {
    @apply m-0 p-0 h-full w-full;
}

body {
    @apply h-full md:max-h-screen md:overflow-hidden;
}

.app {
    @apply md:h-screen bg-zinc-200 flex flex-col text-gray-800 px-10 ;
}

.title {
    @apply text-3xl font-bold text-center py-4 shadow-2xl -mx-20;
}

.middleSection {
    @apply md:flex-1 md:flex text-lg;
}

.player {
    @apply flex-1 rounded-lg p-4 text-3xl;
}

.song-info {
    @apply text-center ;
}

.album-container {
    @apply flex justify-center my-2 ;
}

.albumArt {
    @apply w-full max-w-xs md:max-w-md lg:max-w-xl shadow-2xl rounded-md;
    width: auto;
    height: auto;
}

@media (max-height: 600px) {
    .albumArt {
        max-height: 40vh; /* For small viewport heights */
    }
}

@media (min-height: 601px) and (max-height: 900px) {
    .albumArt {
        max-height: 50vh; /* For medium viewport heights */
    }
}


.playlist {
    @apply text-xs xxs:text-sm md:text-base md:w-[400px] lg:w-[575px] xl:w-[650px] flex-shrink border-2 border-opacity-20 border-zinc-950 shadow-2xl rounded-md p-10 overflow-y-auto px-10 mt-2;
    max-height: calc(100vh - 5rem); /* Adjusting height to ensure it fits within the screen height */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.playlistSong {
    @apply flex items-center w-full; /* Ensure it takes the full width of the container */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.playlistSong>img {
    @apply h-28 m-2 rounded-full;
}

.activeSong {
    @apply bg-slate-400 rounded-xl -mx-3;
}

.settings {
    @apply fixed top-1 right-4 md:top-4 md:right-12;
}

.buttonHover {
    @apply hover:scale-110 hover:cursor-pointer  hover:text-slate-700;
}

.vertical-line::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1.5em; /* Adjust this value to control the height */
    width: 1px;
    background-color: currentColor; /* Use the same color as the text */
    margin: 0 0.5em; /* Adjust the horizontal spacing as needed */
}


/* Custom Scrollbar Styling */
.playlist::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1; /* Background color of the scrollbar track */
}

.playlist::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6b7280, #374151); /* Gradient color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Adding shadow for a 3D effect */
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for hover effects */
}

.playlist::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #374151, #111827); /* Darker gradient on hover */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5); /* More pronounced shadow on hover */
}

.playlist::-webkit-scrollbar-track {
    background: #e5e7eb; /* Lighter background for the scrollbar track */
    border-radius: 10px; /* Matching the thumb's border radius */
} 